<div class="scroll-container">
    <div class="home-body container-padding">
        <image class="author-avatar" src="/assets/images/me.png" />
        <div class="project-title"><h1 translate="MESSAGES.APP_NAME"></h1></div>
        <div class="home-description">
            <p translate="MESSAGES.APP_DESCRIPTION_1"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_2"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_3"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_4"></p>
        </div>
    </div>
</div>